.container {
	margin: 2rem;
	padding: 1rem;
	width: 300px;
}

.currencyContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.iconWrapper {
	align-self: flex-end;
	margin: 0 1rem 0.5rem;
}
